<? INC Header.tmpl ?>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">Cert Auth</div>
			<div class="panel-body">
				<form class="form-horizontal" method="post" action="<? VAR ModPath ?>add">
				<? INC _csrf_check.tmpl ?>
				<h3>Add A Note</h3>
				<hr>
	
				<div class="form-group">
					<label for="inputKey" class="col-sm-2 control-label">Key:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputKey" name="key" size="40">
						</div>
				</div>

				<div class="btn-group pull-right">
					<input class="btn btn-danger" type="reset" value="Reset">
					<input class="btn btn-success" type="submit" name="add" value="Add Key" />
				</div>	
				</form>

				<? IF !KeyLoop ?>
					<p>You have no keys.</p>
				<? ELSE ?>

				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<td></td>
							<td>Key</td>
						</tr>
					</thead>
					<tbody>
						<? LOOP KeyLoop ?>
						<tr>
							<td>[<a href="<? VAR ModPath ?>delete?key=<? VAR Key ESC=URL,HTML ?>">del</a>]</td>
							<td><? VAR Key ?></td>
						</tr>
				<? ENDLOOP ?>
					</tbody>
				</table>
				<? ENDIF ?>
			</div>
	</div>
</div>
	
<? INC Footer.tmpl ?>