<h1 class="text-center">ZNC</h1>
<h3 class="text-muted text-center">An Advanced IRC Bouncer (BNC)</h3>
<h5 class="text-muted text-center">Logged in as: <span class="user_name"><? VAR SessionUser DEFAULT="Anonymous" ?></span> via <a href="https://www.projecthoneypot.org/ip_<? VAR SessionIP ?>" target="_blank"><? VAR SessionIP ?></a></h5>